<h2>Template: <small>Switches</small></h2>
<hr>
<form #myForm="ngForm">
  <!--RADIOS-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Tipo de trabajo</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="typeRadio" id="radioPre" value="P" [(ngModel)]="person.typeJob" required>
        <label class="form-check-label" for="radioPre">
          Presencial
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="typeRadio" id="radioRem" value="R" [(ngModel)]="person.typeJob" required>
        <label class="form-check-label" for="radioRem">
          Remoto
        </label>
      </div>
    </div>
  </div>

  <!--SWITCHES-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input class="form-check-input" type="checkbox" role="switch" name="notifications" [(ngModel)]="person.notifications" id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">¡Quiero recibir notificaciones!</label>
      </div>
    </div>
  </div>

  <!--CHECK-->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input 
        class="form-check-input" 
        type="checkbox"
        name="termsAndConditions"
        [(ngModel)]="termsAndConditions"
        id="flexCheckDefault"
        required>
        <label class="form-check-label" for="flexCheckDefault">
            Términos y Condiciones
        </label>
      </div>
    </div>
  </div>

  <!--SUBMIT BUTTON-->
  <div class="row">
      <div class="col">
          <button class="btn btn-info float-end" [disabled]="myForm.invalid">Guardar</button>
      </div>
  </div>
</form>

<h5>Valor del Formulario</h5>
<pre> {{myForm.value | json}} </pre>
<br>

<h5>Persona</h5>
<pre> {{person | json}} </pre>
<br>

<h5>Valid</h5>
<pre> {{myForm.valid}} </pre>
<br>

<pre>Condiciones: </pre>